# Most Runs in IPL20

In [1]:
import pandas as pd

In [2]:
from bs4 import BeautifulSoup

In [3]:
import requests

In [4]:
ipl_url = "https://www.iplt20.com/stats/2020/most-runs"

In [5]:
ipl_page = requests.get(ipl_url)

In [6]:
ipl_page.status_code

200

In [7]:
ipl_soup = BeautifulSoup(ipl_page.text, 'html.parser')

In [8]:
mostRun_table = ipl_soup.find_all('table')[0]

In [9]:
headers = mostRun_table.find_all('th')

In [10]:
columnTitles = [ct.text.replace('\n', '').replace(' ', '') for ct in headers]

In [11]:
mostRun_data = mostRun_table.findAll('tr')

In [12]:
firstPlayer = mostRun_data[1].findAll('td')
playerList = []
for eachDetail in firstPlayer:
    playerString = ""
    playerString += eachDetail.text.replace('  ', '').replace('\n', '')
    playerList.append(playerString)

In [13]:
allList = []
for Players in mostRun_data[1:]:
    oneList = []
    allPlayersDetail = Players.findAll('td')
    for eachPlayer in allPlayersDetail:
        playerString = ""
        playerString += eachPlayer.text.replace('\n', '').replace(' ','')
        oneList.append(playerString)
    allList.append(oneList)
allList.insert(0,columnTitles)
# allList

In [14]:
with open('mostRuns.csv', 'w', encoding = 'utf-8') as f:
    for eachRow in allList:
        newString = ""
        for eachCol in eachRow:
            newString += eachCol + ','
        newString = newString[:-1]
        newString += '\n'
        f.write(newString)

In [15]:
scoreBoard = pd.read_csv('mostRuns.csv')
scoreBoard.head()
scoreBoard.set_index('POS')

,PLAYER,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
POS,,,,,,,,,,,,,
1,KLRahul,14,14,2,670,132*,55.83,518,129.34,1,5,58,23
2,ShikharDhawan,17,17,3,618,106*,44.14,427,144.73,2,4,67,12
3,DavidWarner,16,16,2,548,85*,39.14,407,134.64,0,4,52,14
4,ShreyasIyer,17,17,2,519,88*,34.60,421,123.27,0,3,40,16
5,IshanKishan,14,13,4,516,99,57.33,354,145.76,0,4,36,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,MoeenAli,3,3,0,12,11,4.00,16,75.00,0,0,1,0
97,SandeepSharma,13,5,3,12,9,6.00,15,80.00,0,0,1,0
98,MohammadNabi,1,1,1,11,11*,-,8,137.50,0,0,2,0
99,RinkuSingh,1,1,0,11,11,11.00,11,100.00,0,0,1,0
100,ShivamMavi,8,3,1,10,9,5.00,14,71.42,0,0,1,0

## Task Completed!
# Congratulations Tej!
## Sat, 31 OCT 08:41